@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200&family=Bebas+Neue&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #990000;
  font-family:'Anek Odia', sans-serif;
  font-weight: bold;
  font-size: 14px;

}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: #990000;
}
	
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: 1px dotted #000;
  text-align: center;
}